html{
  &.menu-open{
    overflow: hidden!important;
  }
}

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #545464;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;

  @include mobile {
    padding: 0 20px;
  }
}

.mobile-only {
  @include mobile {
    display: block;
  }

  @include not-mobile {
    display: none;
  }
}

.tablet-desktop-only {
  @include mobile {
    display: none;
  }

  @include not-mobile {
    display: block;
  }
}